Package                              Version              Editable project location
------------------------------------ -------------------- -------------------------
absl-py                              2.1.0
action-tutorials-py                  0.9.4
addict                               2.4.0
ament-copyright                      0.9.8
ament-cppcheck                       0.9.8
ament-cpplint                        0.9.8
ament-flake8                         0.9.8
ament-index-python                   1.1.0
ament-lint                           0.9.8
ament-lint-cmake                     0.9.8
ament-package                        0.9.5
ament-pep257                         0.9.8
ament-uncrustify                     0.9.8
ament-xmllint                        0.9.8
ansi2html                            1.9.1
antlr4-python3-runtime               4.9.3
asttokens                            2.4.1
attrs                                23.2.0
black                                23.12.1
blender                              1.4
blinker                              1.7.0
Bottleneck                           1.3.5
braceexpand                          0.1.7
cachetools                           5.3.2
camera-calibration                   2.3.0
catkin-pkg                           1.0.0
certifi                              2023.11.17
cffi                                 1.16.0
charset-normalizer                   3.3.2
click                                8.1.7
cloudpickle                          3.0.0
colorama                             0.4.6
comm                                 0.2.1
ConfigArgParse                       1.7
contourpy                            1.2.0
cycler                               0.12.1
Cython                               3.0.8
dash                                 2.14.2
dash-core-components                 2.0.0
dash-html-components                 2.0.0
dash-table                           5.0.0
dataclasses                          0.8
debugpy                              1.6.7
decorator                            5.1.1
demo-nodes-py                        0.9.4
detectron2                           0.6                  /home/rmv/detectron2
distro                               1.8.0
docutils                             0.20.1
domain-coordinator                   0.9.2
empy                                 3.3.4
examples-rclpy-executors             0.9.4
examples-rclpy-minimal-action-client 0.9.4
examples-rclpy-minimal-action-server 0.9.4
examples-rclpy-minimal-client        0.9.4
examples-rclpy-minimal-publisher     0.9.4
examples-rclpy-minimal-service       0.9.4
examples-rclpy-minimal-subscriber    0.9.4
exceptiongroup                       1.2.0
exchange-ore                         0.0.0
executing                            2.0.1
fastjsonschema                       2.19.1
filelock                             3.13.1
Flask                                3.0.1
fonttools                            4.25.0
freetype-py                          2.4.0
fsspec                               2023.12.1
fvcore                               0.1.5.post20221221
glumpy                               1.1.0
google-auth                          2.26.2
google-auth-oauthlib                 1.2.0
grpcio                               1.60.0
hsluv                                5.0.4
hydra-core                           1.3.2
idna                                 3.6
imageio                              2.33.1
imgaug                               0.4.0
importlib-metadata                   7.0.1
iopath                               0.1.9
ipykernel                            6.29.0
ipython                              8.20.0
ipywidgets                           8.1.1
itsdangerous                         2.1.2
jedi                                 0.19.1
Jinja2                               3.1.2
joblib                               1.3.2
jsonschema                           4.21.1
jsonschema-specifications            2023.12.1
jupyter_client                       8.6.0
jupyter_core                         5.7.1
jupyterlab-widgets                   3.0.9
kiwisolver                           1.4.4
lark                                 1.1.9
launch                               0.10.10
launch-ros                           0.11.7
launch-testing                       0.10.10
launch-testing-ros                   0.11.7
launch-xml                           0.10.10
launch-yaml                          0.10.10
lazy_loader                          0.3
Mako                                 1.3.0
Markdown                             3.5.2
MarkupSafe                           2.1.1
matplotlib                           3.8.0
matplotlib-inline                    0.1.6
mkl-fft                              1.3.8
mkl-random                           1.2.4
mkl-service                          2.4.0
mpmath                               1.3.0
munkres                              1.1.4
mypy-extensions                      1.0.0
nbformat                             5.9.2
nest_asyncio                         1.5.9
networkx                             3.2.1
numexpr                              2.8.7
numpy                                1.26.3
nvidia-cublas-cu12                   12.1.3.1
nvidia-cuda-cupti-cu12               12.1.105
nvidia-cuda-nvrtc-cu12               12.1.105
nvidia-cuda-runtime-cu12             12.1.105
nvidia-cudnn-cu12                    8.9.2.26
nvidia-cufft-cu12                    11.0.2.54
nvidia-curand-cu12                   10.3.2.106
nvidia-cusolver-cu12                 11.4.5.107
nvidia-cusparse-cu12                 12.1.0.106
nvidia-nccl-cu12                     2.18.1
nvidia-nvjitlink-cu12                12.3.101
nvidia-nvtx-cu12                     12.1.105
oauthlib                             3.2.2
omegaconf                            2.3.0
onnx                                 1.15.0
open3d                               0.18.0
opencv-python                        4.7.0
osrf-pycommon                        0.1.11
packaging                            23.2
pandas                               2.1.1
parso                                0.8.3
pathspec                             0.12.1
pexpect                              4.8.0
pickleshare                          0.7.5
Pillow                               10.0.1
pip                                  23.3.2
platformdirs                         4.1.0
plotly                               5.18.0
portalocker                          2.8.2
prompt-toolkit                       3.0.42
protobuf                             4.23.4
psutil                               5.9.0
ptyprocess                           0.7.0
pure-eval                            0.2.2
py-cpuinfo                           9.0.0
pyasn1                               0.5.1
pyasn1-modules                       0.3.0
pycocotools                          2.0.7
pycparser                            2.21
pyglet                               2.0.10
Pygments                             2.17.2
PyOpenGL                             3.1.0
PyOpenGL-accelerate                  3.1.5
pyparsing                            3.1.1
pypng                                0.0.19
pyquaternion                         0.9.9
pyrender                             0.1.45
python-dateutil                      2.8.2
pytorch3d                            0.7.5
pytz                                 2023.3.post1
PyWavelets                           1.5.0
PyYAML                               6.0.1
pyzmq                                25.1.0
quality-of-service-demo-py           0.9.4
referencing                          0.32.1
requests                             2.31.0
requests-oauthlib                    1.3.1
retrying                             1.3.4
ros2action                           0.9.13
ros2bag                              0.3.11
ros2cli                              0.9.13
ros2component                        0.9.13
ros2doctor                           0.9.13
ros2interface                        0.9.13
ros2launch                           0.11.7
ros2lifecycle                        0.9.13
ros2multicast                        0.9.13
ros2node                             0.9.13
ros2param                            0.9.13
ros2pkg                              0.9.13
ros2run                              0.9.13
ros2service                          0.9.13
ros2topic                            0.9.13
rosdistro                            0.9.0
rosidl-runtime-py                    0.9.1
rosinstall                           0.7.8
rospkg                               1.5.0
rpds-py                              0.17.1
rpyutils                             0.2.0
rqt-action                           1.0.2
rqt-console                          1.1.2
rqt-graph                            1.1.3
rqt-gui                              1.1.2
rqt-gui-py                           1.1.2
rqt-msg                              1.1.1
rqt-plot                             1.1.1
rqt-publisher                        1.3.0
rqt-py-console                       1.0.2
rqt-reconfigure                      1.0.8
rqt-service-caller                   1.0.5
rqt-shell                            1.0.2
rqt-srv                              1.0.3
rqt-top                              1.0.2
rqt-topic                            1.3.0
rsa                                  4.9
scikit-image                         0.18.1
scikit-learn                         1.4.0
scikit-misc                          0.3.1
SciPy                                1.11.4
seaborn                              0.12.2
setuptools                           69.0.3
shapely                              2.0.2
six                                  1.16.0
sros2                                0.9.5
stack-data                           0.6.2
structlog                            24.1.0
sympy                                1.12
tabulate                             0.9.0
teleop-twist-keyboard                2.3.2
tenacity                             8.2.3
tensorboard                          2.15.1
tensorboard-data-server              0.7.2
termcolor                            2.4.0
thop                                 0.1.1.post2209072238
threadpoolctl                        3.2.0
tifffile                             2023.12.9
topic-monitor                        0.9.4
torch                                2.1.1
torchaudio                           2.1.0
torchvision                          0.16.0
tornado                              6.3.3
tqdm                                 4.66.1
traitlets                            5.14.1
triangle                             20230923
trimesh                              3.9.9
triton                               2.1.0
typing_extensions                    4.8.0
tzdata                               2023.3
ultralytics                          8.0.222
urllib3                              2.1.0
vcstools                             0.1.42
vispy                                0.14.1
wcwidth                              0.2.13
webdataset                           0.2.86
Werkzeug                             3.0.1
wheel                                0.41.2
widgetsnbextension                   4.0.9
wstool                               0.1.17
yacs                                 0.1.8
zipp                                 3.17.0
